@font-face {
    font-family: 'themehipster';
    src:    url('fonts/themehipster.eot?p6l9di');
    src:    url('fonts/themehipster.eot?p6l9di#iefix') format('embedded-opentype'),
        url('fonts/themehipster.ttf?p6l9di') format('truetype'),
        url('fonts/themehipster.woff?p6l9di') format('woff'),
        url('fonts/themehipster.svg?p6l9di#themehipster') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icons-selector  i,
.column-icon i{
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'themehipster' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-hipster-3d_rotation:before {
    content: "\e84d";
}
.icon-hipster-ac_unit:before {
    content: "\eb3b";
}
.icon-hipster-alarm:before {
    content: "\e855";
}
.icon-hipster-access_alarms:before {
    content: "\e191";
}
.icon-hipster-schedule:before {
    content: "\e8b5";
}
.icon-hipster-accessibility:before {
    content: "\e84e";
}
.icon-hipster-accessible:before {
    content: "\e914";
}
.icon-hipster-account_balance:before {
    content: "\e84f";
}
.icon-hipster-account_balance_wallet:before {
    content: "\e850";
}
.icon-hipster-account_box:before {
    content: "\e851";
}
.icon-hipster-account_circle:before {
    content: "\e853";
}
.icon-hipster-adb:before {
    content: "\e60e";
}
.icon-hipster-add:before {
    content: "\e145";
}
.icon-hipster-add_a_photo:before {
    content: "\e439";
}
.icon-hipster-alarm_add:before {
    content: "\e856";
}
.icon-hipster-add_alert:before {
    content: "\e003";
}
.icon-hipster-add_box:before {
    content: "\e146";
}
.icon-hipster-add_circle:before {
    content: "\e147";
}
.icon-hipster-control_point:before {
    content: "\e3ba";
}
.icon-hipster-add_location:before {
    content: "\e567";
}
.icon-hipster-add_shopping_cart:before {
    content: "\e854";
}
.icon-hipster-queue:before {
    content: "\e03c";
}
.icon-hipster-add_to_queue:before {
    content: "\e05c";
}
.icon-hipster-adjust:before {
    content: "\e39e";
}
.icon-hipster-airline_seat_flat:before {
    content: "\e630";
}
.icon-hipster-airline_seat_flat_angled:before {
    content: "\e631";
}
.icon-hipster-airline_seat_individual_suite:before {
    content: "\e632";
}
.icon-hipster-airline_seat_legroom_extra:before {
    content: "\e633";
}
.icon-hipster-airline_seat_legroom_normal:before {
    content: "\e634";
}
.icon-hipster-airline_seat_legroom_reduced:before {
    content: "\e635";
}
.icon-hipster-airline_seat_recline_extra:before {
    content: "\e636";
}
.icon-hipster-airline_seat_recline_normal:before {
    content: "\e637";
}
.icon-hipster-flight:before {
    content: "\e539";
}
.icon-hipster-airplanemode_inactive:before {
    content: "\e194";
}
.icon-hipster-airplay:before {
    content: "\e055";
}
.icon-hipster-airport_shuttle:before {
    content: "\eb3c";
}
.icon-hipster-alarm_off:before {
    content: "\e857";
}
.icon-hipster-alarm_on:before {
    content: "\e858";
}
.icon-hipster-album:before {
    content: "\e019";
}
.icon-hipster-all_inclusive:before {
    content: "\eb3d";
}
.icon-hipster-all_out:before {
    content: "\e90b";
}
.icon-hipster-android:before {
    content: "\e859";
}
.icon-hipster-announcement:before {
    content: "\e85a";
}
.icon-hipster-apps:before {
    content: "\e5c3";
}
.icon-hipster-archive:before {
    content: "\e149";
}
.icon-hipster-arrow_back:before {
    content: "\e5c4";
}
.icon-hipster-arrow_downward:before {
    content: "\e5db";
}
.icon-hipster-arrow_drop_down:before {
    content: "\e5c5";
}
.icon-hipster-arrow_drop_down_circle:before {
    content: "\e5c6";
}
.icon-hipster-arrow_drop_up:before {
    content: "\e5c7";
}
.icon-hipster-arrow_forward:before {
    content: "\e5c8";
}
.icon-hipster-arrow_upward:before {
    content: "\e5d8";
}
.icon-hipster-art_track:before {
    content: "\e060";
}
.icon-hipster-aspect_ratio:before {
    content: "\e85b";
}
.icon-hipster-poll:before {
    content: "\e801";
}
.icon-hipster-assignment:before {
    content: "\e85d";
}
.icon-hipster-assignment_ind:before {
    content: "\e85e";
}
.icon-hipster-assignment_late:before {
    content: "\e85f";
}
.icon-hipster-assignment_return:before {
    content: "\e860";
}
.icon-hipster-assignment_returned:before {
    content: "\e861";
}
.icon-hipster-assignment_turned_in:before {
    content: "\e862";
}
.icon-hipster-assistant:before {
    content: "\e39f";
}
.icon-hipster-flag:before {
    content: "\e153";
}
.icon-hipster-attach_file:before {
    content: "\e226";
}
.icon-hipster-attach_money:before {
    content: "\e227";
}
.icon-hipster-attachment:before {
    content: "\e2bc";
}
.icon-hipster-audiotrack:before {
    content: "\e3a1";
}
.icon-hipster-autorenew:before {
    content: "\e863";
}
.icon-hipster-av_timer:before {
    content: "\e01b";
}
.icon-hipster-backspace:before {
    content: "\e14a";
}
.icon-hipster-cloud_upload:before {
    content: "\e2c3";
}
.icon-hipster-battery_alert:before {
    content: "\e19c";
}
.icon-hipster-battery_charging_full:before {
    content: "\e1a3";
}
.icon-hipster-battery_std:before {
    content: "\e1a5";
}
.icon-hipster-battery_unknown:before {
    content: "\e1a6";
}
.icon-hipster-beach_access:before {
    content: "\eb3e";
}
.icon-hipster-beenhere:before {
    content: "\e52d";
}
.icon-hipster-block:before {
    content: "\e14b";
}
.icon-hipster-bluetooth:before {
    content: "\e1a7";
}
.icon-hipster-bluetooth_searching:before {
    content: "\e1aa";
}
.icon-hipster-bluetooth_connected:before {
    content: "\e1a8";
}
.icon-hipster-bluetooth_disabled:before {
    content: "\e1a9";
}
.icon-hipster-blur_circular:before {
    content: "\e3a2";
}
.icon-hipster-blur_linear:before {
    content: "\e3a3";
}
.icon-hipster-blur_off:before {
    content: "\e3a4";
}
.icon-hipster-blur_on:before {
    content: "\e3a5";
}
.icon-hipster-class:before {
    content: "\e86e";
}
.icon-hipster-turned_in:before {
    content: "\e8e6";
}
.icon-hipster-turned_in_not:before {
    content: "\e8e7";
}
.icon-hipster-border_all:before {
    content: "\e228";
}
.icon-hipster-border_bottom:before {
    content: "\e229";
}
.icon-hipster-border_clear:before {
    content: "\e22a";
}
.icon-hipster-border_color:before {
    content: "\e22b";
}
.icon-hipster-border_horizontal:before {
    content: "\e22c";
}
.icon-hipster-border_inner:before {
    content: "\e22d";
}
.icon-hipster-border_left:before {
    content: "\e22e";
}
.icon-hipster-border_outer:before {
    content: "\e22f";
}
.icon-hipster-border_right:before {
    content: "\e230";
}
.icon-hipster-border_style:before {
    content: "\e231";
}
.icon-hipster-border_top:before {
    content: "\e232";
}
.icon-hipster-border_vertical:before {
    content: "\e233";
}
.icon-hipster-branding_watermark:before {
    content: "\e06b";
}
.icon-hipster-brightness_1:before {
    content: "\e3a6";
}
.icon-hipster-brightness_2:before {
    content: "\e3a7";
}
.icon-hipster-brightness_3:before {
    content: "\e3a8";
}
.icon-hipster-brightness_4:before {
    content: "\e3a9";
}
.icon-hipster-brightness_low:before {
    content: "\e1ad";
}
.icon-hipster-brightness_medium:before {
    content: "\e1ae";
}
.icon-hipster-brightness_high:before {
    content: "\e1ac";
}
.icon-hipster-brightness_auto:before {
    content: "\e1ab";
}
.icon-hipster-broken_image:before {
    content: "\e3ad";
}
.icon-hipster-brush:before {
    content: "\e3ae";
}
.icon-hipster-bubble_chart:before {
    content: "\e6dd";
}
.icon-hipster-bug_report:before {
    content: "\e868";
}
.icon-hipster-build:before {
    content: "\e869";
}
.icon-hipster-burst_mode:before {
    content: "\e43c";
}
.icon-hipster-domain:before {
    content: "\e7ee";
}
.icon-hipster-business_center:before {
    content: "\eb3f";
}
.icon-hipster-cached:before {
    content: "\e86a";
}
.icon-hipster-cake:before {
    content: "\e7e9";
}
.icon-hipster-phone:before {
    content: "\e0cd";
}
.icon-hipster-call_end:before {
    content: "\e0b1";
}
.icon-hipster-call_made:before {
    content: "\e0b2";
}
.icon-hipster-merge_type:before {
    content: "\e252";
}
.icon-hipster-call_missed:before {
    content: "\e0b4";
}
.icon-hipster-call_missed_outgoing:before {
    content: "\e0e4";
}
.icon-hipster-call_received:before {
    content: "\e0b5";
}
.icon-hipster-call_split:before {
    content: "\e0b6";
}
.icon-hipster-call_to_action:before {
    content: "\e06c";
}
.icon-hipster-camera:before {
    content: "\e3af";
}
.icon-hipster-photo_camera:before {
    content: "\e412";
}
.icon-hipster-camera_enhance:before {
    content: "\e8fc";
}
.icon-hipster-camera_front:before {
    content: "\e3b1";
}
.icon-hipster-camera_rear:before {
    content: "\e3b2";
}
.icon-hipster-camera_roll:before {
    content: "\e3b3";
}
.icon-hipster-cancel:before {
    content: "\e5c9";
}
.icon-hipster-redeem:before {
    content: "\e8b1";
}
.icon-hipster-card_membership:before {
    content: "\e8f7";
}
.icon-hipster-card_travel:before {
    content: "\e8f8";
}
.icon-hipster-casino:before {
    content: "\eb40";
}
.icon-hipster-cast:before {
    content: "\e307";
}
.icon-hipster-cast_connected:before {
    content: "\e308";
}
.icon-hipster-center_focus_strong:before {
    content: "\e3b4";
}
.icon-hipster-center_focus_weak:before {
    content: "\e3b5";
}
.icon-hipster-change_history:before {
    content: "\e86b";
}
.icon-hipster-chat:before {
    content: "\e0b7";
}
.icon-hipster-chat_bubble:before {
    content: "\e0ca";
}
.icon-hipster-chat_bubble_outline:before {
    content: "\e0cb";
}
.icon-hipster-check:before {
    content: "\e5ca";
}
.icon-hipster-check_box:before {
    content: "\e834";
}
.icon-hipster-check_box_outline_blank:before {
    content: "\e835";
}
.icon-hipster-check_circle:before {
    content: "\e86c";
}
.icon-hipster-navigate_before:before {
    content: "\e408";
}
.icon-hipster-navigate_next:before {
    content: "\e409";
}
.icon-hipster-child_care:before {
    content: "\eb41";
}
.icon-hipster-child_friendly:before {
    content: "\eb42";
}
.icon-hipster-chrome_reader_mode:before {
    content: "\e86d";
}
.icon-hipster-close:before {
    content: "\e5cd";
}
.icon-hipster-clear_all:before {
    content: "\e0b8";
}
.icon-hipster-closed_caption:before {
    content: "\e01c";
}
.icon-hipster-wb_cloudy:before {
    content: "\e42d";
}
.icon-hipster-cloud_circle:before {
    content: "\e2be";
}
.icon-hipster-cloud_done:before {
    content: "\e2bf";
}
.icon-hipster-cloud_download:before {
    content: "\e2c0";
}
.icon-hipster-cloud_off:before {
    content: "\e2c1";
}
.icon-hipster-cloud_queue:before {
    content: "\e2c2";
}
.icon-hipster-code:before {
    content: "\e86f";
}
.icon-hipster-photo_library:before {
    content: "\e413";
}
.icon-hipster-collections_bookmark:before {
    content: "\e431";
}
.icon-hipster-palette:before {
    content: "\e40a";
}
.icon-hipster-colorize:before {
    content: "\e3b8";
}
.icon-hipster-comment:before {
    content: "\e0b9";
}
.icon-hipster-compare:before {
    content: "\e3b9";
}
.icon-hipster-compare_arrows:before {
    content: "\e915";
}
.icon-hipster-laptop:before {
    content: "\e31e";
}
.icon-hipster-confirmation_number:before {
    content: "\e638";
}
.icon-hipster-contact_mail:before {
    content: "\e0d0";
}
.icon-hipster-contact_phone:before {
    content: "\e0cf";
}
.icon-hipster-contacts:before {
    content: "\e0ba";
}
.icon-hipster-content_copy:before {
    content: "\e14d";
}
.icon-hipster-content_cut:before {
    content: "\e14e";
}
.icon-hipster-content_paste:before {
    content: "\e14f";
}
.icon-hipster-control_point_duplicate:before {
    content: "\e3bb";
}
.icon-hipster-copyright:before {
    content: "\e90c";
}
.icon-hipster-mode_edit:before {
    content: "\e254";
}
.icon-hipster-create_new_folder:before {
    content: "\e2cc";
}
.icon-hipster-payment:before {
    content: "\e8a1";
}
.icon-hipster-crop:before {
    content: "\e3be";
}
.icon-hipster-crop_16_9:before {
    content: "\e3bc";
}
.icon-hipster-crop_3_2:before {
    content: "\e3bd";
}
.icon-hipster-crop_landscape:before {
    content: "\e3c3";
}
.icon-hipster-crop_7_5:before {
    content: "\e3c0";
}
.icon-hipster-crop_din:before {
    content: "\e3c1";
}
.icon-hipster-crop_free:before {
    content: "\e3c2";
}
.icon-hipster-crop_original:before {
    content: "\e3c4";
}
.icon-hipster-crop_portrait:before {
    content: "\e3c5";
}
.icon-hipster-crop_rotate:before {
    content: "\e437";
}
.icon-hipster-crop_square:before {
    content: "\e3c6";
}
.icon-hipster-dashboard:before {
    content: "\e871";
}
.icon-hipster-data_usage:before {
    content: "\e1af";
}
.icon-hipster-date_range:before {
    content: "\e916";
}
.icon-hipster-dehaze:before {
    content: "\e3c7";
}
.icon-hipster-delete:before {
    content: "\e872";
}
.icon-hipster-delete_forever:before {
    content: "\e92b";
}
.icon-hipster-delete_sweep:before {
    content: "\e16c";
}
.icon-hipster-description:before {
    content: "\e873";
}
.icon-hipster-desktop_mac:before {
    content: "\e30b";
}
.icon-hipster-desktop_windows:before {
    content: "\e30c";
}
.icon-hipster-details:before {
    content: "\e3c8";
}
.icon-hipster-developer_board:before {
    content: "\e30d";
}
.icon-hipster-developer_mode:before {
    content: "\e1b0";
}
.icon-hipster-device_hub:before {
    content: "\e335";
}
.icon-hipster-phonelink:before {
    content: "\e326";
}
.icon-hipster-devices_other:before {
    content: "\e337";
}
.icon-hipster-dialer_sip:before {
    content: "\e0bb";
}
.icon-hipster-dialpad:before {
    content: "\e0bc";
}
.icon-hipster-directions:before {
    content: "\e52e";
}
.icon-hipster-directions_bike:before {
    content: "\e52f";
}
.icon-hipster-directions_boat:before {
    content: "\e532";
}
.icon-hipster-directions_bus:before {
    content: "\e530";
}
.icon-hipster-directions_car:before {
    content: "\e531";
}
.icon-hipster-directions_railway:before {
    content: "\e534";
}
.icon-hipster-directions_run:before {
    content: "\e566";
}
.icon-hipster-directions_transit:before {
    content: "\e535";
}
.icon-hipster-directions_walk:before {
    content: "\e536";
}
.icon-hipster-disc_full:before {
    content: "\e610";
}
.icon-hipster-dns:before {
    content: "\e875";
}
.icon-hipster-not_interested:before {
    content: "\e033";
}
.icon-hipster-do_not_disturb_alt:before {
    content: "\e611";
}
.icon-hipster-do_not_disturb_off:before {
    content: "\e643";
}
.icon-hipster-remove_circle:before {
    content: "\e15c";
}
.icon-hipster-dock:before {
    content: "\e30e";
}
.icon-hipster-done:before {
    content: "\e876";
}
.icon-hipster-done_all:before {
    content: "\e877";
}
.icon-hipster-donut_large:before {
    content: "\e917";
}
.icon-hipster-donut_small:before {
    content: "\e918";
}
.icon-hipster-drafts:before {
    content: "\e151";
}
.icon-hipster-drag_handle:before {
    content: "\e25d";
}
.icon-hipster-time_to_leave:before {
    content: "\e62c";
}
.icon-hipster-dvr:before {
    content: "\e1b2";
}
.icon-hipster-edit_location:before {
    content: "\e568";
}
.icon-hipster-eject:before {
    content: "\e8fb";
}
.icon-hipster-markunread:before {
    content: "\e159";
}
.icon-hipster-enhanced_encryption:before {
    content: "\e63f";
}
.icon-hipster-equalizer:before {
    content: "\e01d";
}
.icon-hipster-error:before {
    content: "\e000";
}
.icon-hipster-error_outline:before {
    content: "\e001";
}
.icon-hipster-euro_symbol:before {
    content: "\e926";
}
.icon-hipster-ev_station:before {
    content: "\e56d";
}
.icon-hipster-insert_invitation:before {
    content: "\e24f";
}
.icon-hipster-event_available:before {
    content: "\e614";
}
.icon-hipster-event_busy:before {
    content: "\e615";
}
.icon-hipster-event_note:before {
    content: "\e616";
}
.icon-hipster-event_seat:before {
    content: "\e903";
}
.icon-hipster-exit_to_app:before {
    content: "\e879";
}
.icon-hipster-expand_less:before {
    content: "\e5ce";
}
.icon-hipster-expand_more:before {
    content: "\e5cf";
}
.icon-hipster-explicit:before {
    content: "\e01e";
}
.icon-hipster-explore:before {
    content: "\e87a";
}
.icon-hipster-exposure:before {
    content: "\e3ca";
}
.icon-hipster-exposure_neg_1:before {
    content: "\e3cb";
}
.icon-hipster-exposure_neg_2:before {
    content: "\e3cc";
}
.icon-hipster-exposure_plus_1:before {
    content: "\e3cd";
}
.icon-hipster-exposure_plus_2:before {
    content: "\e3ce";
}
.icon-hipster-exposure_zero:before {
    content: "\e3cf";
}
.icon-hipster-extension:before {
    content: "\e87b";
}
.icon-hipster-face:before {
    content: "\e87c";
}
.icon-hipster-fast_forward:before {
    content: "\e01f";
}
.icon-hipster-fast_rewind:before {
    content: "\e020";
}
.icon-hipster-favorite:before {
    content: "\e87d";
}
.icon-hipster-favorite_border:before {
    content: "\e87e";
}
.icon-hipster-featured_play_list:before {
    content: "\e06d";
}
.icon-hipster-featured_video:before {
    content: "\e06e";
}
.icon-hipster-sms_failed:before {
    content: "\e626";
}
.icon-hipster-fiber_dvr:before {
    content: "\e05d";
}
.icon-hipster-fiber_manual_record:before {
    content: "\e061";
}
.icon-hipster-fiber_new:before {
    content: "\e05e";
}
.icon-hipster-fiber_pin:before {
    content: "\e06a";
}
.icon-hipster-fiber_smart_record:before {
    content: "\e062";
}
.icon-hipster-get_app:before {
    content: "\e884";
}
.icon-hipster-file_upload:before {
    content: "\e2c6";
}
.icon-hipster-filter:before {
    content: "\e3d3";
}
.icon-hipster-filter_1:before {
    content: "\e3d0";
}
.icon-hipster-filter_2:before {
    content: "\e3d1";
}
.icon-hipster-filter_3:before {
    content: "\e3d2";
}
.icon-hipster-filter_4:before {
    content: "\e3d4";
}
.icon-hipster-filter_5:before {
    content: "\e3d5";
}
.icon-hipster-filter_6:before {
    content: "\e3d6";
}
.icon-hipster-filter_7:before {
    content: "\e3d7";
}
.icon-hipster-filter_8:before {
    content: "\e3d8";
}
.icon-hipster-filter_9:before {
    content: "\e3d9";
}
.icon-hipster-filter_9_plus:before {
    content: "\e3da";
}
.icon-hipster-filter_b_and_w:before {
    content: "\e3db";
}
.icon-hipster-filter_center_focus:before {
    content: "\e3dc";
}
.icon-hipster-filter_drama:before {
    content: "\e3dd";
}
.icon-hipster-filter_frames:before {
    content: "\e3de";
}
.icon-hipster-terrain:before {
    content: "\e564";
}
.icon-hipster-filter_list:before {
    content: "\e152";
}
.icon-hipster-filter_none:before {
    content: "\e3e0";
}
.icon-hipster-filter_tilt_shift:before {
    content: "\e3e2";
}
.icon-hipster-filter_vintage:before {
    content: "\e3e3";
}
.icon-hipster-find_in_page:before {
    content: "\e880";
}
.icon-hipster-find_replace:before {
    content: "\e881";
}
.icon-hipster-fingerprint:before {
    content: "\e90d";
}
.icon-hipster-first_page:before {
    content: "\e5dc";
}
.icon-hipster-fitness_center:before {
    content: "\eb43";
}
.icon-hipster-flare:before {
    content: "\e3e4";
}
.icon-hipster-flash_auto:before {
    content: "\e3e5";
}
.icon-hipster-flash_off:before {
    content: "\e3e6";
}
.icon-hipster-flash_on:before {
    content: "\e3e7";
}
.icon-hipster-flight_land:before {
    content: "\e904";
}
.icon-hipster-flight_takeoff:before {
    content: "\e905";
}
.icon-hipster-flip:before {
    content: "\e3e8";
}
.icon-hipster-flip_to_back:before {
    content: "\e882";
}
.icon-hipster-flip_to_front:before {
    content: "\e883";
}
.icon-hipster-folder:before {
    content: "\e2c7";
}
.icon-hipster-folder_open:before {
    content: "\e2c8";
}
.icon-hipster-folder_shared:before {
    content: "\e2c9";
}
.icon-hipster-folder_special:before {
    content: "\e617";
}
.icon-hipster-font_download:before {
    content: "\e167";
}
.icon-hipster-format_align_center:before {
    content: "\e234";
}
.icon-hipster-format_align_justify:before {
    content: "\e235";
}
.icon-hipster-format_align_left:before {
    content: "\e236";
}
.icon-hipster-format_align_right:before {
    content: "\e237";
}
.icon-hipster-format_bold:before {
    content: "\e238";
}
.icon-hipster-format_clear:before {
    content: "\e239";
}
.icon-hipster-format_color_fill:before {
    content: "\e23a";
}
.icon-hipster-format_color_reset:before {
    content: "\e23b";
}
.icon-hipster-format_color_text:before {
    content: "\e23c";
}
.icon-hipster-format_indent_decrease:before {
    content: "\e23d";
}
.icon-hipster-format_indent_increase:before {
    content: "\e23e";
}
.icon-hipster-format_italic:before {
    content: "\e23f";
}
.icon-hipster-format_line_spacing:before {
    content: "\e240";
}
.icon-hipster-format_list_bulleted:before {
    content: "\e241";
}
.icon-hipster-format_list_numbered:before {
    content: "\e242";
}
.icon-hipster-format_paint:before {
    content: "\e243";
}
.icon-hipster-format_quote:before {
    content: "\e244";
}
.icon-hipster-format_shapes:before {
    content: "\e25e";
}
.icon-hipster-format_size:before {
    content: "\e245";
}
.icon-hipster-format_strikethrough:before {
    content: "\e246";
}
.icon-hipster-format_textdirection_l_to_r:before {
    content: "\e247";
}
.icon-hipster-format_textdirection_r_to_l:before {
    content: "\e248";
}
.icon-hipster-format_underlined:before {
    content: "\e249";
}
.icon-hipster-question_answer:before {
    content: "\e8af";
}
.icon-hipster-forward:before {
    content: "\e154";
}
.icon-hipster-forward_10:before {
    content: "\e056";
}
.icon-hipster-forward_30:before {
    content: "\e057";
}
.icon-hipster-forward_5:before {
    content: "\e058";
}
.icon-hipster-free_breakfast:before {
    content: "\eb44";
}
.icon-hipster-fullscreen:before {
    content: "\e5d0";
}
.icon-hipster-fullscreen_exit:before {
    content: "\e5d1";
}
.icon-hipster-functions:before {
    content: "\e24a";
}
.icon-hipster-g_translate:before {
    content: "\e927";
}
.icon-hipster-games:before {
    content: "\e021";
}
.icon-hipster-gavel:before {
    content: "\e90e";
}
.icon-hipster-gesture:before {
    content: "\e155";
}
.icon-hipster-gif:before {
    content: "\e908";
}
.icon-hipster-goat:before {
    content: "\e900";
}
.icon-hipster-golf_course:before {
    content: "\eb45";
}
.icon-hipster-my_location:before {
    content: "\e55c";
}
.icon-hipster-location_searching:before {
    content: "\e1b7";
}
.icon-hipster-location_disabled:before {
    content: "\e1b6";
}
.icon-hipster-star:before {
    content: "\e838";
}
.icon-hipster-gradient:before {
    content: "\e3e9";
}
.icon-hipster-grain:before {
    content: "\e3ea";
}
.icon-hipster-graphic_eq:before {
    content: "\e1b8";
}
.icon-hipster-grid_off:before {
    content: "\e3eb";
}
.icon-hipster-grid_on:before {
    content: "\e3ec";
}
.icon-hipster-people:before {
    content: "\e7fb";
}
.icon-hipster-group_add:before {
    content: "\e7f0";
}
.icon-hipster-group_work:before {
    content: "\e886";
}
.icon-hipster-hd:before {
    content: "\e052";
}
.icon-hipster-hdr_off:before {
    content: "\e3ed";
}
.icon-hipster-hdr_on:before {
    content: "\e3ee";
}
.icon-hipster-hdr_strong:before {
    content: "\e3f1";
}
.icon-hipster-hdr_weak:before {
    content: "\e3f2";
}
.icon-hipster-headset:before {
    content: "\e310";
}
.icon-hipster-headset_mic:before {
    content: "\e311";
}
.icon-hipster-healing:before {
    content: "\e3f3";
}
.icon-hipster-hearing:before {
    content: "\e023";
}
.icon-hipster-help:before {
    content: "\e887";
}
.icon-hipster-help_outline:before {
    content: "\e8fd";
}
.icon-hipster-high_quality:before {
    content: "\e024";
}
.icon-hipster-highlight:before {
    content: "\e25f";
}
.icon-hipster-highlight_off:before {
    content: "\e888";
}
.icon-hipster-restore:before {
    content: "\e8b3";
}
.icon-hipster-home:before {
    content: "\e88a";
}
.icon-hipster-hot_tub:before {
    content: "\eb46";
}
.icon-hipster-local_hotel:before {
    content: "\e549";
}
.icon-hipster-hourglass_empty:before {
    content: "\e88b";
}
.icon-hipster-hourglass_full:before {
    content: "\e88c";
}
.icon-hipster-http:before {
    content: "\e902";
}
.icon-hipster-lock:before {
    content: "\e897";
}
.icon-hipster-photo:before {
    content: "\e410";
}
.icon-hipster-image_aspect_ratio:before {
    content: "\e3f5";
}
.icon-hipster-import_contacts:before {
    content: "\e0e0";
}
.icon-hipster-import_export:before {
    content: "\e0c3";
}
.icon-hipster-important_devices:before {
    content: "\e912";
}
.icon-hipster-inbox:before {
    content: "\e156";
}
.icon-hipster-indeterminate_check_box:before {
    content: "\e909";
}
.icon-hipster-info:before {
    content: "\e88e";
}
.icon-hipster-info_outline:before {
    content: "\e88f";
}
.icon-hipster-input:before {
    content: "\e890";
}
.icon-hipster-insert_comment:before {
    content: "\e24c";
}
.icon-hipster-insert_drive_file:before {
    content: "\e24d";
}
.icon-hipster-tag_faces:before {
    content: "\e420";
}
.icon-hipster-link:before {
    content: "\e157";
}
.icon-hipster-invert_colors:before {
    content: "\e891";
}
.icon-hipster-invert_colors_off:before {
    content: "\e0c4";
}
.icon-hipster-iso:before {
    content: "\e3f6";
}
.icon-hipster-keyboard:before {
    content: "\e312";
}
.icon-hipster-keyboard_arrow_down:before {
    content: "\e313";
}
.icon-hipster-keyboard_arrow_left:before {
    content: "\e314";
}
.icon-hipster-keyboard_arrow_right:before {
    content: "\e315";
}
.icon-hipster-keyboard_arrow_up:before {
    content: "\e316";
}
.icon-hipster-keyboard_backspace:before {
    content: "\e317";
}
.icon-hipster-keyboard_capslock:before {
    content: "\e318";
}
.icon-hipster-keyboard_hide:before {
    content: "\e31a";
}
.icon-hipster-keyboard_return:before {
    content: "\e31b";
}
.icon-hipster-keyboard_tab:before {
    content: "\e31c";
}
.icon-hipster-keyboard_voice:before {
    content: "\e31d";
}
.icon-hipster-kitchen:before {
    content: "\eb47";
}
.icon-hipster-label:before {
    content: "\e892";
}
.icon-hipster-label_outline:before {
    content: "\e893";
}
.icon-hipster-language:before {
    content: "\e894";
}
.icon-hipster-laptop_chromebook:before {
    content: "\e31f";
}
.icon-hipster-laptop_mac:before {
    content: "\e320";
}
.icon-hipster-laptop_windows:before {
    content: "\e321";
}
.icon-hipster-last_page:before {
    content: "\e5dd";
}
.icon-hipster-open_in_new:before {
    content: "\e89e";
}
.icon-hipster-layers:before {
    content: "\e53b";
}
.icon-hipster-layers_clear:before {
    content: "\e53c";
}
.icon-hipster-leak_add:before {
    content: "\e3f8";
}
.icon-hipster-leak_remove:before {
    content: "\e3f9";
}
.icon-hipster-lens:before {
    content: "\e3fa";
}
.icon-hipster-library_books:before {
    content: "\e02f";
}
.icon-hipster-library_music:before {
    content: "\e030";
}
.icon-hipster-lightbulb_outline:before {
    content: "\e90f";
}
.icon-hipster-line_style:before {
    content: "\e919";
}
.icon-hipster-line_weight:before {
    content: "\e91a";
}
.icon-hipster-linear_scale:before {
    content: "\e260";
}
.icon-hipster-linked_camera:before {
    content: "\e438";
}
.icon-hipster-list:before {
    content: "\e896";
}
.icon-hipster-live_help:before {
    content: "\e0c6";
}
.icon-hipster-live_tv:before {
    content: "\e639";
}
.icon-hipster-local_play:before {
    content: "\e553";
}
.icon-hipster-local_airport:before {
    content: "\e53d";
}
.icon-hipster-local_atm:before {
    content: "\e53e";
}
.icon-hipster-local_bar:before {
    content: "\e540";
}
.icon-hipster-local_cafe:before {
    content: "\e541";
}
.icon-hipster-local_car_wash:before {
    content: "\e542";
}
.icon-hipster-local_convenience_store:before {
    content: "\e543";
}
.icon-hipster-restaurant_menu:before {
    content: "\e561";
}
.icon-hipster-local_drink:before {
    content: "\e544";
}
.icon-hipster-local_florist:before {
    content: "\e545";
}
.icon-hipster-local_gas_station:before {
    content: "\e546";
}
.icon-hipster-shopping_cart:before {
    content: "\e8cc";
}
.icon-hipster-local_hospital:before {
    content: "\e548";
}
.icon-hipster-local_laundry_service:before {
    content: "\e54a";
}
.icon-hipster-local_library:before {
    content: "\e54b";
}
.icon-hipster-local_mall:before {
    content: "\e54c";
}
.icon-hipster-theaters:before {
    content: "\e8da";
}
.icon-hipster-local_offer:before {
    content: "\e54e";
}
.icon-hipster-local_parking:before {
    content: "\e54f";
}
.icon-hipster-local_pharmacy:before {
    content: "\e550";
}
.icon-hipster-local_pizza:before {
    content: "\e552";
}
.icon-hipster-print:before {
    content: "\e8ad";
}
.icon-hipster-local_shipping:before {
    content: "\e558";
}
.icon-hipster-local_taxi:before {
    content: "\e559";
}
.icon-hipster-location_city:before {
    content: "\e7f1";
}
.icon-hipster-location_off:before {
    content: "\e0c7";
}
.icon-hipster-room:before {
    content: "\e8b4";
}
.icon-hipster-lock_open:before {
    content: "\e898";
}
.icon-hipster-lock_outline:before {
    content: "\e899";
}
.icon-hipster-looks:before {
    content: "\e3fc";
}
.icon-hipster-looks_3:before {
    content: "\e3fb";
}
.icon-hipster-looks_4:before {
    content: "\e3fd";
}
.icon-hipster-looks_5:before {
    content: "\e3fe";
}
.icon-hipster-looks_6:before {
    content: "\e3ff";
}
.icon-hipster-looks_one:before {
    content: "\e400";
}
.icon-hipster-looks_two:before {
    content: "\e401";
}
.icon-hipster-sync:before {
    content: "\e627";
}
.icon-hipster-loupe:before {
    content: "\e402";
}
.icon-hipster-low_priority:before {
    content: "\e16d";
}
.icon-hipster-loyalty:before {
    content: "\e89a";
}
.icon-hipster-mail_outline:before {
    content: "\e0e1";
}
.icon-hipster-map:before {
    content: "\e55b";
}
.icon-hipster-markunread_mailbox:before {
    content: "\e89b";
}
.icon-hipster-memory:before {
    content: "\e322";
}
.icon-hipster-menu:before {
    content: "\e5d2";
}
.icon-hipster-message:before {
    content: "\e0c9";
}
.icon-hipster-mic:before {
    content: "\e029";
}
.icon-hipster-mic_none:before {
    content: "\e02a";
}
.icon-hipster-mic_off:before {
    content: "\e02b";
}
.icon-hipster-mms:before {
    content: "\e618";
}
.icon-hipster-mode_comment:before {
    content: "\e253";
}
.icon-hipster-monetization_on:before {
    content: "\e263";
}
.icon-hipster-money_off:before {
    content: "\e25c";
}
.icon-hipster-monochrome_photos:before {
    content: "\e403";
}
.icon-hipster-mood_bad:before {
    content: "\e7f3";
}
.icon-hipster-more:before {
    content: "\e619";
}
.icon-hipster-more_horiz:before {
    content: "\e5d3";
}
.icon-hipster-more_vert:before {
    content: "\e5d4";
}
.icon-hipster-motorcycle:before {
    content: "\e91b";
}
.icon-hipster-mouse:before {
    content: "\e323";
}
.icon-hipster-move_to_inbox:before {
    content: "\e168";
}
.icon-hipster-movie_creation:before {
    content: "\e404";
}
.icon-hipster-movie_filter:before {
    content: "\e43a";
}
.icon-hipster-multiline_chart:before {
    content: "\e6df";
}
.icon-hipster-music_note:before {
    content: "\e405";
}
.icon-hipster-music_video:before {
    content: "\e063";
}
.icon-hipster-nature:before {
    content: "\e406";
}
.icon-hipster-nature_people:before {
    content: "\e407";
}
.icon-hipster-navigation:before {
    content: "\e55d";
}
.icon-hipster-near_me:before {
    content: "\e569";
}
.icon-hipster-network_cell:before {
    content: "\e1b9";
}
.icon-hipster-network_check:before {
    content: "\e640";
}
.icon-hipster-network_locked:before {
    content: "\e61a";
}
.icon-hipster-network_wifi:before {
    content: "\e1ba";
}
.icon-hipster-new_releases:before {
    content: "\e031";
}
.icon-hipster-next_week:before {
    content: "\e16a";
}
.icon-hipster-nfc:before {
    content: "\e1bb";
}
.icon-hipster-no_encryption:before {
    content: "\e641";
}
.icon-hipster-signal_cellular_no_sim:before {
    content: "\e1ce";
}
.icon-hipster-note:before {
    content: "\e06f";
}
.icon-hipster-note_add:before {
    content: "\e89c";
}
.icon-hipster-notifications:before {
    content: "\e7f4";
}
.icon-hipster-notifications_active:before {
    content: "\e7f7";
}
.icon-hipster-notifications_none:before {
    content: "\e7f5";
}
.icon-hipster-notifications_off:before {
    content: "\e7f6";
}
.icon-hipster-notifications_paused:before {
    content: "\e7f8";
}
.icon-hipster-offline_pin:before {
    content: "\e90a";
}
.icon-hipster-ondemand_video:before {
    content: "\e63a";
}
.icon-hipster-opacity:before {
    content: "\e91c";
}
.icon-hipster-open_in_browser:before {
    content: "\e89d";
}
.icon-hipster-open_with:before {
    content: "\e89f";
}
.icon-hipster-pages:before {
    content: "\e7f9";
}
.icon-hipster-pageview:before {
    content: "\e8a0";
}
.icon-hipster-pan_tool:before {
    content: "\e925";
}
.icon-hipster-panorama:before {
    content: "\e40b";
}
.icon-hipster-radio_button_unchecked:before {
    content: "\e836";
}
.icon-hipster-panorama_horizontal:before {
    content: "\e40d";
}
.icon-hipster-panorama_vertical:before {
    content: "\e40e";
}
.icon-hipster-panorama_wide_angle:before {
    content: "\e40f";
}
.icon-hipster-party_mode:before {
    content: "\e7fa";
}
.icon-hipster-pause:before {
    content: "\e034";
}
.icon-hipster-pause_circle_filled:before {
    content: "\e035";
}
.icon-hipster-pause_circle_outline:before {
    content: "\e036";
}
.icon-hipster-people_outline:before {
    content: "\e7fc";
}
.icon-hipster-perm_camera_mic:before {
    content: "\e8a2";
}
.icon-hipster-perm_contact_calendar:before {
    content: "\e8a3";
}
.icon-hipster-perm_data_setting:before {
    content: "\e8a4";
}
.icon-hipster-perm_device_information:before {
    content: "\e8a5";
}
.icon-hipster-person_outline:before {
    content: "\e7ff";
}
.icon-hipster-perm_media:before {
    content: "\e8a7";
}
.icon-hipster-perm_phone_msg:before {
    content: "\e8a8";
}
.icon-hipster-perm_scan_wifi:before {
    content: "\e8a9";
}
.icon-hipster-person:before {
    content: "\e7fd";
}
.icon-hipster-person_add:before {
    content: "\e7fe";
}
.icon-hipster-person_pin:before {
    content: "\e55a";
}
.icon-hipster-person_pin_circle:before {
    content: "\e56a";
}
.icon-hipster-personal_video:before {
    content: "\e63b";
}
.icon-hipster-pets:before {
    content: "\e91d";
}
.icon-hipster-phone_android:before {
    content: "\e324";
}
.icon-hipster-phone_bluetooth_speaker:before {
    content: "\e61b";
}
.icon-hipster-phone_forwarded:before {
    content: "\e61c";
}
.icon-hipster-phone_in_talk:before {
    content: "\e61d";
}
.icon-hipster-phone_iphone:before {
    content: "\e325";
}
.icon-hipster-phone_locked:before {
    content: "\e61e";
}
.icon-hipster-phone_missed:before {
    content: "\e61f";
}
.icon-hipster-phone_paused:before {
    content: "\e620";
}
.icon-hipster-phonelink_erase:before {
    content: "\e0db";
}
.icon-hipster-phonelink_lock:before {
    content: "\e0dc";
}
.icon-hipster-phonelink_off:before {
    content: "\e327";
}
.icon-hipster-phonelink_ring:before {
    content: "\e0dd";
}
.icon-hipster-phonelink_setup:before {
    content: "\e0de";
}
.icon-hipster-photo_album:before {
    content: "\e411";
}
.icon-hipster-photo_filter:before {
    content: "\e43b";
}
.icon-hipster-photo_size_select_actual:before {
    content: "\e432";
}
.icon-hipster-photo_size_select_large:before {
    content: "\e433";
}
.icon-hipster-photo_size_select_small:before {
    content: "\e434";
}
.icon-hipster-picture_as_pdf:before {
    content: "\e415";
}
.icon-hipster-picture_in_picture:before {
    content: "\e8aa";
}
.icon-hipster-picture_in_picture_alt:before {
    content: "\e911";
}
.icon-hipster-pie_chart:before {
    content: "\e6c4";
}
.icon-hipster-pie_chart_outlined:before {
    content: "\e6c5";
}
.icon-hipster-pin_drop:before {
    content: "\e55e";
}
.icon-hipster-play_arrow:before {
    content: "\e037";
}
.icon-hipster-play_circle_filled:before {
    content: "\e038";
}
.icon-hipster-play_circle_outline:before {
    content: "\e039";
}
.icon-hipster-play_for_work:before {
    content: "\e906";
}
.icon-hipster-playlist_add:before {
    content: "\e03b";
}
.icon-hipster-playlist_add_check:before {
    content: "\e065";
}
.icon-hipster-playlist_play:before {
    content: "\e05f";
}
.icon-hipster-plus_one:before {
    content: "\e800";
}
.icon-hipster-polymer:before {
    content: "\e8ab";
}
.icon-hipster-pool:before {
    content: "\eb48";
}
.icon-hipster-portable_wifi_off:before {
    content: "\e0ce";
}
.icon-hipster-portrait:before {
    content: "\e416";
}
.icon-hipster-power:before {
    content: "\e63c";
}
.icon-hipster-power_input:before {
    content: "\e336";
}
.icon-hipster-power_settings_new:before {
    content: "\e8ac";
}
.icon-hipster-pregnant_woman:before {
    content: "\e91e";
}
.icon-hipster-present_to_all:before {
    content: "\e0df";
}
.icon-hipster-priority_high:before {
    content: "\e645";
}
.icon-hipster-public:before {
    content: "\e80b";
}
.icon-hipster-publish:before {
    content: "\e255";
}
.icon-hipster-queue_music:before {
    content: "\e03d";
}
.icon-hipster-queue_play_next:before {
    content: "\e066";
}
.icon-hipster-radio:before {
    content: "\e03e";
}
.icon-hipster-radio_button_checked:before {
    content: "\e837";
}
.icon-hipster-rate_review:before {
    content: "\e560";
}
.icon-hipster-receipt:before {
    content: "\e8b0";
}
.icon-hipster-recent_actors:before {
    content: "\e03f";
}
.icon-hipster-record_voice_over:before {
    content: "\e91f";
}
.icon-hipster-redo:before {
    content: "\e15a";
}
.icon-hipster-refresh:before {
    content: "\e5d5";
}
.icon-hipster-remove:before {
    content: "\e15b";
}
.icon-hipster-remove_circle_outline:before {
    content: "\e15d";
}
.icon-hipster-remove_from_queue:before {
    content: "\e067";
}
.icon-hipster-visibility:before {
    content: "\e8f4";
}
.icon-hipster-remove_shopping_cart:before {
    content: "\e928";
}
.icon-hipster-reorder:before {
    content: "\e8fe";
}
.icon-hipster-repeat:before {
    content: "\e040";
}
.icon-hipster-repeat_one:before {
    content: "\e041";
}
.icon-hipster-replay:before {
    content: "\e042";
}
.icon-hipster-replay_10:before {
    content: "\e059";
}
.icon-hipster-replay_30:before {
    content: "\e05a";
}
.icon-hipster-replay_5:before {
    content: "\e05b";
}
.icon-hipster-reply:before {
    content: "\e15e";
}
.icon-hipster-reply_all:before {
    content: "\e15f";
}
.icon-hipster-report:before {
    content: "\e160";
}
.icon-hipster-warning:before {
    content: "\e002";
}
.icon-hipster-restaurant:before {
    content: "\e56c";
}
.icon-hipster-restore_page:before {
    content: "\e929";
}
.icon-hipster-ring_volume:before {
    content: "\e0d1";
}
.icon-hipster-room_service:before {
    content: "\eb49";
}
.icon-hipster-rotate_90_degrees_ccw:before {
    content: "\e418";
}
.icon-hipster-rotate_left:before {
    content: "\e419";
}
.icon-hipster-rotate_right:before {
    content: "\e41a";
}
.icon-hipster-rounded_corner:before {
    content: "\e920";
}
.icon-hipster-router:before {
    content: "\e328";
}
.icon-hipster-rowing:before {
    content: "\e921";
}
.icon-hipster-rss_feed:before {
    content: "\e0e5";
}
.icon-hipster-rv_hookup:before {
    content: "\e642";
}
.icon-hipster-satellite:before {
    content: "\e562";
}
.icon-hipster-save:before {
    content: "\e161";
}
.icon-hipster-scanner:before {
    content: "\e329";
}
.icon-hipster-school:before {
    content: "\e80c";
}
.icon-hipster-screen_lock_landscape:before {
    content: "\e1be";
}
.icon-hipster-screen_lock_portrait:before {
    content: "\e1bf";
}
.icon-hipster-screen_lock_rotation:before {
    content: "\e1c0";
}
.icon-hipster-screen_rotation:before {
    content: "\e1c1";
}
.icon-hipster-screen_share:before {
    content: "\e0e2";
}
.icon-hipster-sd_storage:before {
    content: "\e1c2";
}
.icon-hipster-search:before {
    content: "\e8b6";
}
.icon-hipster-security:before {
    content: "\e32a";
}
.icon-hipster-select_all:before {
    content: "\e162";
}
.icon-hipster-send:before {
    content: "\e163";
}
.icon-hipster-sentiment_dissatisfied:before {
    content: "\e811";
}
.icon-hipster-sentiment_neutral:before {
    content: "\e812";
}
.icon-hipster-sentiment_satisfied:before {
    content: "\e813";
}
.icon-hipster-sentiment_very_dissatisfied:before {
    content: "\e814";
}
.icon-hipster-sentiment_very_satisfied:before {
    content: "\e815";
}
.icon-hipster-settings:before {
    content: "\e8b8";
}
.icon-hipster-settings_applications:before {
    content: "\e8b9";
}
.icon-hipster-settings_backup_restore:before {
    content: "\e8ba";
}
.icon-hipster-settings_bluetooth:before {
    content: "\e8bb";
}
.icon-hipster-settings_brightness:before {
    content: "\e8bd";
}
.icon-hipster-settings_cell:before {
    content: "\e8bc";
}
.icon-hipster-settings_ethernet:before {
    content: "\e8be";
}
.icon-hipster-settings_input_antenna:before {
    content: "\e8bf";
}
.icon-hipster-settings_input_composite:before {
    content: "\e8c1";
}
.icon-hipster-settings_input_hdmi:before {
    content: "\e8c2";
}
.icon-hipster-settings_input_svideo:before {
    content: "\e8c3";
}
.icon-hipster-settings_overscan:before {
    content: "\e8c4";
}
.icon-hipster-settings_phone:before {
    content: "\e8c5";
}
.icon-hipster-settings_power:before {
    content: "\e8c6";
}
.icon-hipster-settings_remote:before {
    content: "\e8c7";
}
.icon-hipster-settings_system_daydream:before {
    content: "\e1c3";
}
.icon-hipster-settings_voice:before {
    content: "\e8c8";
}
.icon-hipster-share:before {
    content: "\e80d";
}
.icon-hipster-shop:before {
    content: "\e8c9";
}
.icon-hipster-shop_two:before {
    content: "\e8ca";
}
.icon-hipster-shopping_basket:before {
    content: "\e8cb";
}
.icon-hipster-short_text:before {
    content: "\e261";
}
.icon-hipster-show_chart:before {
    content: "\e6e1";
}
.icon-hipster-shuffle:before {
    content: "\e043";
}
.icon-hipster-signal_cellular_4_bar:before {
    content: "\e1c8";
}
.icon-hipster-signal_cellular_connected_no_internet_4_bar:before {
    content: "\e1cd";
}
.icon-hipster-signal_cellular_null:before {
    content: "\e1cf";
}
.icon-hipster-signal_cellular_off:before {
    content: "\e1d0";
}
.icon-hipster-signal_wifi_4_bar:before {
    content: "\e1d8";
}
.icon-hipster-signal_wifi_4_bar_lock:before {
    content: "\e1d9";
}
.icon-hipster-signal_wifi_off:before {
    content: "\e1da";
}
.icon-hipster-sim_card:before {
    content: "\e32b";
}
.icon-hipster-sim_card_alert:before {
    content: "\e624";
}
.icon-hipster-skip_next:before {
    content: "\e044";
}
.icon-hipster-skip_previous:before {
    content: "\e045";
}
.icon-hipster-slideshow:before {
    content: "\e41b";
}
.icon-hipster-slow_motion_video:before {
    content: "\e068";
}
.icon-hipster-stay_primary_portrait:before {
    content: "\e0d6";
}
.icon-hipster-smoke_free:before {
    content: "\eb4a";
}
.icon-hipster-smoking_rooms:before {
    content: "\eb4b";
}
.icon-hipster-textsms:before {
    content: "\e0d8";
}
.icon-hipster-snooze:before {
    content: "\e046";
}
.icon-hipster-sort:before {
    content: "\e164";
}
.icon-hipster-sort_by_alpha:before {
    content: "\e053";
}
.icon-hipster-spa:before {
    content: "\eb4c";
}
.icon-hipster-space_bar:before {
    content: "\e256";
}
.icon-hipster-speaker:before {
    content: "\e32d";
}
.icon-hipster-speaker_group:before {
    content: "\e32e";
}
.icon-hipster-speaker_notes:before {
    content: "\e8cd";
}
.icon-hipster-speaker_notes_off:before {
    content: "\e92a";
}
.icon-hipster-speaker_phone:before {
    content: "\e0d2";
}
.icon-hipster-spellcheck:before {
    content: "\e8ce";
}
.icon-hipster-star_border:before {
    content: "\e83a";
}
.icon-hipster-star_half:before {
    content: "\e839";
}
.icon-hipster-stars:before {
    content: "\e8d0";
}
.icon-hipster-stay_primary_landscape:before {
    content: "\e0d5";
}
.icon-hipster-stop:before {
    content: "\e047";
}
.icon-hipster-stop_screen_share:before {
    content: "\e0e3";
}
.icon-hipster-storage:before {
    content: "\e1db";
}
.icon-hipster-store_mall_directory:before {
    content: "\e563";
}
.icon-hipster-straighten:before {
    content: "\e41c";
}
.icon-hipster-streetview:before {
    content: "\e56e";
}
.icon-hipster-strikethrough_s:before {
    content: "\e257";
}
.icon-hipster-style:before {
    content: "\e41d";
}
.icon-hipster-subdirectory_arrow_left:before {
    content: "\e5d9";
}
.icon-hipster-subdirectory_arrow_right:before {
    content: "\e5da";
}
.icon-hipster-subject:before {
    content: "\e8d2";
}
.icon-hipster-subscriptions:before {
    content: "\e064";
}
.icon-hipster-subtitles:before {
    content: "\e048";
}
.icon-hipster-subway:before {
    content: "\e56f";
}
.icon-hipster-supervisor_account:before {
    content: "\e8d3";
}
.icon-hipster-surround_sound:before {
    content: "\e049";
}
.icon-hipster-swap_calls:before {
    content: "\e0d7";
}
.icon-hipster-swap_horiz:before {
    content: "\e8d4";
}
.icon-hipster-swap_vert:before {
    content: "\e8d5";
}
.icon-hipster-swap_vertical_circle:before {
    content: "\e8d6";
}
.icon-hipster-switch_camera:before {
    content: "\e41e";
}
.icon-hipster-switch_video:before {
    content: "\e41f";
}
.icon-hipster-sync_disabled:before {
    content: "\e628";
}
.icon-hipster-sync_problem:before {
    content: "\e629";
}
.icon-hipster-system_update:before {
    content: "\e62a";
}
.icon-hipster-system_update_alt:before {
    content: "\e8d7";
}
.icon-hipster-tab:before {
    content: "\e8d8";
}
.icon-hipster-tab_unselected:before {
    content: "\e8d9";
}
.icon-hipster-tablet:before {
    content: "\e32f";
}
.icon-hipster-tablet_android:before {
    content: "\e330";
}
.icon-hipster-tablet_mac:before {
    content: "\e331";
}
.icon-hipster-tap_and_play:before {
    content: "\e62b";
}
.icon-hipster-text_fields:before {
    content: "\e262";
}
.icon-hipster-text_format:before {
    content: "\e165";
}
.icon-hipster-texture:before {
    content: "\e421";
}
.icon-hipster-thumb_down:before {
    content: "\e8db";
}
.icon-hipster-thumb_up:before {
    content: "\e8dc";
}
.icon-hipster-thumbs_up_down:before {
    content: "\e8dd";
}
.icon-hipster-timelapse:before {
    content: "\e422";
}
.icon-hipster-timeline:before {
    content: "\e922";
}
.icon-hipster-timer:before {
    content: "\e425";
}
.icon-hipster-timer_10:before {
    content: "\e423";
}
.icon-hipster-timer_3:before {
    content: "\e424";
}
.icon-hipster-timer_off:before {
    content: "\e426";
}
.icon-hipster-title:before {
    content: "\e264";
}
.icon-hipster-toc:before {
    content: "\e8de";
}
.icon-hipster-today:before {
    content: "\e8df";
}
.icon-hipster-toll:before {
    content: "\e8e0";
}
.icon-hipster-tonality:before {
    content: "\e427";
}
.icon-hipster-touch_app:before {
    content: "\e913";
}
.icon-hipster-toys:before {
    content: "\e332";
}
.icon-hipster-track_changes:before {
    content: "\e8e1";
}
.icon-hipster-traffic:before {
    content: "\e565";
}
.icon-hipster-train:before {
    content: "\e570";
}
.icon-hipster-tram:before {
    content: "\e571";
}
.icon-hipster-transfer_within_a_station:before {
    content: "\e572";
}
.icon-hipster-transform:before {
    content: "\e428";
}
.icon-hipster-translate:before {
    content: "\e8e2";
}
.icon-hipster-trending_down:before {
    content: "\e8e3";
}
.icon-hipster-trending_flat:before {
    content: "\e8e4";
}
.icon-hipster-trending_up:before {
    content: "\e8e5";
}
.icon-hipster-tune:before {
    content: "\e429";
}
.icon-hipster-tv:before {
    content: "\e333";
}
.icon-hipster-unarchive:before {
    content: "\e169";
}
.icon-hipster-undo:before {
    content: "\e166";
}
.icon-hipster-unfold_less:before {
    content: "\e5d6";
}
.icon-hipster-unfold_more:before {
    content: "\e5d7";
}
.icon-hipster-update:before {
    content: "\e923";
}
.icon-hipster-usb:before {
    content: "\e1e0";
}
.icon-hipster-verified_user:before {
    content: "\e8e8";
}
.icon-hipster-vertical_align_bottom:before {
    content: "\e258";
}
.icon-hipster-vertical_align_center:before {
    content: "\e259";
}
.icon-hipster-vertical_align_top:before {
    content: "\e25a";
}
.icon-hipster-vibration:before {
    content: "\e62d";
}
.icon-hipster-video_call:before {
    content: "\e070";
}
.icon-hipster-video_label:before {
    content: "\e071";
}
.icon-hipster-video_library:before {
    content: "\e04a";
}
.icon-hipster-videocam:before {
    content: "\e04b";
}
.icon-hipster-videocam_off:before {
    content: "\e04c";
}
.icon-hipster-videogame_asset:before {
    content: "\e338";
}
.icon-hipster-view_agenda:before {
    content: "\e8e9";
}
.icon-hipster-view_array:before {
    content: "\e8ea";
}
.icon-hipster-view_carousel:before {
    content: "\e8eb";
}
.icon-hipster-view_column:before {
    content: "\e8ec";
}
.icon-hipster-view_comfy:before {
    content: "\e42a";
}
.icon-hipster-view_compact:before {
    content: "\e42b";
}
.icon-hipster-view_day:before {
    content: "\e8ed";
}
.icon-hipster-view_headline:before {
    content: "\e8ee";
}
.icon-hipster-view_list:before {
    content: "\e8ef";
}
.icon-hipster-view_module:before {
    content: "\e8f0";
}
.icon-hipster-view_quilt:before {
    content: "\e8f1";
}
.icon-hipster-view_stream:before {
    content: "\e8f2";
}
.icon-hipster-view_week:before {
    content: "\e8f3";
}
.icon-hipster-vignette:before {
    content: "\e435";
}
.icon-hipster-visibility_off:before {
    content: "\e8f5";
}
.icon-hipster-voice_chat:before {
    content: "\e62e";
}
.icon-hipster-voicemail:before {
    content: "\e0d9";
}
.icon-hipster-volume_down:before {
    content: "\e04d";
}
.icon-hipster-volume_mute:before {
    content: "\e04e";
}
.icon-hipster-volume_off:before {
    content: "\e04f";
}
.icon-hipster-volume_up:before {
    content: "\e050";
}
.icon-hipster-vpn_key:before {
    content: "\e0da";
}
.icon-hipster-vpn_lock:before {
    content: "\e62f";
}
.icon-hipster-wallpaper:before {
    content: "\e1bc";
}
.icon-hipster-watch:before {
    content: "\e334";
}
.icon-hipster-watch_later:before {
    content: "\e924";
}
.icon-hipster-wb_auto:before {
    content: "\e42c";
}
.icon-hipster-wb_incandescent:before {
    content: "\e42e";
}
.icon-hipster-wb_iridescent:before {
    content: "\e436";
}
.icon-hipster-wb_sunny:before {
    content: "\e430";
}
.icon-hipster-wc:before {
    content: "\e63d";
}
.icon-hipster-web:before {
    content: "\e051";
}
.icon-hipster-web_asset:before {
    content: "\e069";
}
.icon-hipster-weekend:before {
    content: "\e16b";
}
.icon-hipster-whatshot:before {
    content: "\e80e";
}
.icon-hipster-widgets:before {
    content: "\e1bd";
}
.icon-hipster-wifi:before {
    content: "\e63e";
}
.icon-hipster-wifi_lock:before {
    content: "\e1e1";
}
.icon-hipster-wifi_tethering:before {
    content: "\e1e2";
}
.icon-hipster-work:before {
    content: "\e8f9";
}
.icon-hipster-wrap_text:before {
    content: "\e25b";
}
.icon-hipster-youtube_searched_for:before {
    content: "\e8fa";
}
.icon-hipster-zoom_in:before {
    content: "\e8ff";
}
.icon-hipster-zoom_out:before {
    content: "\e901";
}
.icon-hipster-zoom_out_map:before {
    content: "\e56b";
}

